<div >
	<h1>Crear Actores</h1>
	<%= form_for @actor do |f| %>
          <% if @actor.errors.any? %>                   
             <ul>
             <% @actor.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
             <% end %>
             </ul>                   
          <% end %>
            <div>
          	 <%= f.text_field :name, placeholder:"Ingresa el nombre del actor" %>
            </div>  
            <div>
          	 <%= f.url_field  :image_url, placeholder: "Ingresa la url de la foto del actor" %>
            </div>
            <div>
          	 <%= f.text_area  :bio, placeholder: "Breve biografia del actor" %>
            </div>      
            <div>
              <%= f.submit "Crear Actor" %>
            </div>    
	<% end %>
</div>